In [6]:
import sqlite3

filepath = "test2.sqlite"
conn = sqlite3.connect(filepath)

cur = conn.cursor()
cur.execute("drop table if exists items")
cur.execute("""Create table items(item_id integer primary key, name text, price integer)""")
conn.commit()

cur = conn.cursor()
cur.execute(("insert into items (name,price) values (?,?)"),("orange", 5200))
conn.commit()

cur = conn.cursor()
data = [("mango",7700),("kiwi",4000),("grape",8000),("peach",9400),("persimmon",7000),("banana",4000)]
cur.executemany("insert into items(name,price) values (?,?)",data)
conn.commit()

cur= conn.cursor()
price_range = (4000,7000)
cur.execute("select * from items where price >=?and price<=?", price_range)
fr_list = cur.fetchall()
for fr in fr_list: 
    print(fr)

(1, 'orange', 5200)
(3, 'kiwi', 4000)
(6, 'persimmon', 7000)
(7, 'banana', 4000)